<a href="https://colab.research.google.com/github/calebmarentes10/Mineria-de-datos-/blob/main/Avance1_PIA_Equipo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Equipo 2**
Grupo: 001 Lunes de 7:00 – 10:00

Integrantes:
* 1851976 Marentes Camarillo Caleb
- 1851600 Garnica Cardenas Maria Fernanda
- 1941526 Morales Garcia Ismael
- 1797297 Garcia Partida Yael Alejandro
- 1726507 Vidal Barriga Dayanne Alejandra

###**TOP 50 BESTSELLERS BOOKS 2009-2019**

Base 1 https://www.kaggle.com/sootersaalu/amazon-top-50-bestselling-books-2009-2019

***Introducción general:***

Top 50 bestselling books 2009-2019 es una base de datos que como su nombre lo dice, consta de 50 libros más vendidos en un rango de 10 años donde podremos encontrar nombre del libro, su autor, reseñas, precios, género, entre otras. 

Con estos datos pretendemos alentar al público a darle la oportunidad a alguna historia y salir de su zona de confort, por lo que será de gran ayuda tener reseñas de personas que hayan leído aquellas historias y dado su testimonio.

Así mismo, consideramos que estos datos son útiles para el tema de creación de películas, ¿a quien no le gustaría ver en la pantalla grande su libro preferido? Por lo que con los datos recopilados podremos ver hacia qué género o autor se inclina más la gente así como saber cual es el promedio, máximo y mínimo de calificaciones, de la misma manera, podremos saber cuál es el más y menos comprado dentro de esta lista

***Descripción de los datos:***
Los datos provienen de las plataformas de Amazon donde se han acomodado en 7 columnas de la siguiente manera:

- *Nombre:*En esta columna podremos apreciar el título del libro 
- *Autor:* Nos indica quién escribió el libro
- *Calificacion del Usuario:* En esa seccion se hizo un promedio de todas las calificaciones que recibió el libro por lo que encontraremos calificaciones desde 3.3 hasta 4.9 siendo la máxima
- *Reseñas:* En esta columna podremos observar el número de personas que hicieron un comentario acerca del libro, no viene detallada en sí el comentario era bueno o malo pero eso lo deducimos en base a la calificación.
- *Precio:* Precio promedio en el que se vendió
- *Año:* Año de publicación 
- *Género:* Nos indica si es de ciencia ficción o no, en esta columna no detalla mas generos pero si tenemos conocimiento de los autores nos damos una idea de que tipo de lectura es

**Justificación del uso de datos:**

Decidimos ocupar esta base de datos por dos razones la primera fue que nos gustaría saber cuales son las características de los libros más y la segunda sería para poder hacer una recomendación a la comunidad de algún libro fácil de leer y con esto empezar el hábito de la lectura.

Algunos de los beneficios para trabajar con esta base de datos es que fácilmente podemos indagar en que es lo que caracteriza a un best-seller, desde autor hasta precio.

**Objetivo final:**

Nuestro objetivo final es hacer un análisis completo de toda la base y con esto saber cuales son las principales características para convertirse en un best-seller.

**Preguntas de interés:**

¿Cuál es el precio promedio de un best seller?

¿Qué tanto impacto generan las reseñas para que se pueda convertir en un best-seller? 

**Limpieza de datos**

a)Comenzamos importando librerias y bases de datos

In [1]:
import pandas as pd
import numpy as np
import json

bdsellers = pd.read_csv("bestsellers.csv",encoding='utf8')

b)Visualizacion de datos

In [2]:
bdsellers

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

Continuaremos con revisar la cantidad de filas y columnas de la base

In [3]:
bdsellers.shape

(550, 7)


Aqui lo que hicimos con la funcion .head es ver los primeros 10 elementos de cada columna

In [4]:
bdsellers.head(10)

                                                Name  ...        Genre
0                      10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                  11/22/63: A Novel  ...      Fiction
2            12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                             1984 (Signet Classics)  ...      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
5      A Dance with Dragons (A Song of Ice and Fire)  ...      Fiction
6  A Game of Thrones / A Clash of Kings / A Storm...  ...      Fiction
7                     A Gentleman in Moscow: A Novel  ...      Fiction
8      A Higher Loyalty: Truth, Lies, and Leadership  ...  Non Fiction
9                          A Man Called Ove: A Novel  ...      Fiction

[10 rows x 7 columns]

Aqui lo que hicimos con la funcion .tail es ver los ultimos 10 elementos de cada columna

In [6]:
bdsellers.tail(10)

                                                  Name  ...        Genre
540                                             Wonder  ...      Fiction
541                                             Wonder  ...      Fiction
542                                             Wonder  ...      Fiction
543                                             Wonder  ...      Fiction
544                                             Wonder  ...      Fiction
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[10 rows x 7 columns]

 c)Descripción básica de columnas: 
 
Aqui podemos observar el nombre de nuestras columnas

In [8]:
bdsellers.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

Aqui podemos observar con la función dtype el tipo de dato que tenemos.

In [9]:

bdsellers.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

Aqui podemos observar los valores nulos de cada columna.

In [10]:
bdsellers.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

d)Hacer ejmplo de clasificación de datos para que elijan acomodar los datos para que se facilite esta tarea: 

Lo que hicimos es buscar valores de la culumna precio imprimirlos con el genero ya que nuestro objetivo es encontrar las características para convertirse en un best-seller.

In [12]:
print(bdsellers.Price.unique())

bdsellers=bdsellers.reindex(columns=['Name','Price','Genre'])
bdsellers

[  8  22  15   6  12  11  30   3   2  32   5  17   4  13  14   9  24  21
  18   0  28  16  10 105  20   1   7  19  54  52  25  27  46  39  53  40
  36  82  23  42]

                                                  Name  Price        Genre
0                        10-Day Green Smoothie Cleanse      8  Non Fiction
1                                    11/22/63: A Novel     22      Fiction
2              12 Rules for Life: An Antidote to Chaos     15  Non Fiction
3                               1984 (Signet Classics)      6      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...     12  Non Fiction
..                                                 ...    ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)      8      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...      8  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...      8  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...      8  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...      8  Non Fiction

[550 rows x 3 columns]

e)Cambiar nombres de las columnas:

Aqui cambiamos los nombres de las columnas.

In [13]:
bdsellers.rename(columns={'Name':'Nombre','Price':'Precio','Genre':'Genero'})

                                                Nombre  Precio       Genero
0                        10-Day Green Smoothie Cleanse       8  Non Fiction
1                                    11/22/63: A Novel      22      Fiction
2              12 Rules for Life: An Antidote to Chaos      15  Non Fiction
3                               1984 (Signet Classics)       6      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...      12  Non Fiction
..                                                 ...     ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)       8      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...       8  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...       8  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...       8  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...       8  Non Fiction

[550 rows x 3 columns]

f)Guardar en agrupaciones

In [16]:
bdsellers.to_csv("Base de bestsellers.csv")

###**120 YEARS OF OLYMPIC HISTORY**

Base 2 https://www.kaggle.com/mysarahmadbhat/120-years-of-olympic-history

***Introducción general:***

120 years of olympic history  es una base de datos que como su nombre lo dice, consta datos históricos sobre los Juegos Olímpicos modernos, desde Atenas 1896 hasta Río 2016. Cada fila corresponde a un atleta individual que compite en un evento individual, incluido el nombre del atleta, sexo, edad, altura, peso, país y medalla, y el nombre del evento. , deporte, juegos, año y ciudad.

Con estos datos pretendemos dar a conocer cuáles han sido los deportes con más medallas, y cual es el competidor promedio ideal para ganar oro en cada deporte.

**Descripción de los datos:**

Los datos provienen de los Juegos Olímpicos donde se han acomodado en 15 columnas de la siguiente manera:

- *ID Unique number for each athlete:* En esta columna podemos ver el ID del atleta
- *Name Athlete's name:* En esta columna podemos ver el nombre del atleta
-*Sex Male (M) or Female (F):* : En esta columna podemos ver el género del atleta
-*Age Integer:* En esta columna podemos ver la edad del atleta
- *Height In centimeters:* En esta columna podemos ver la estatura del atleta en centímetros
- *Weight In kilograms*: En esta columna podemos ver el peso del atleta en kilogramos
- *Team:* En esta columna podemos ver el equipo que representa el atleta
- *NOC National Olympic Committee 3-letter code:* En esta columna podemos ver el codigo de el país que representa el atleta
- *Games Year and season:* En esta columna podemos ver el año y la temporada de la competencia
- *Year Integer:* En esta columna podemos en que año se realizaron los juegos olímpicos
Season: En esta columna podemos ver la temporado de los juegos olímpicos ya sea verano o invierno
- *City:* En esta columna podemos ver el en que ciudad se llevó a cabo la contienda
- *Sport:* En esta columna podemos ver el nombre del deporte
- *Event:* En esta columna podemos ver el nombre del evento en el participó el atleta
- *Medal Gold, Silver, Bronze, or NA:* En esta columna podemos ver si el atleta logró obtener medalla o no

**Justificación de los datos:**

Decidimos hacer esta base de datos debido a que nos intriga saber que es lo que hace a un competir llegar a ser un competidor olímpico,  o cuales son los rasgos que identifican a un deportista olímpico

Los beneficios para trabajar con esta base de datos es que podemos ver con facilidad que es lo que caracteriza a un deportista a olímpico que cuales son los promedios de un medallista olímpico

**Objetivo final:**

Analizar a fondo cuales son las características específicas que han ayudado a los competidores a lograr colgarse de una presea y ver cuales son los detalles que les favorece a los deportistas de cada país en  las distintas temporadas de los eventos

**Preguntas de interés:**

¿Cuáles son las características promedio de un medallista de oro? ya sea en: edad, peso, estatura y país

¿En qué magnitud se pueden ver alterados los medalleros según la temporada de los juegos olímpicos? ya sea de verano o de invierno

**Limpieza de datos**

a) Comenzamos importando librerias y bases de datos

In [20]:
import pandas as pd
import numpy as np
import json

JJ = pd.read_csv("athlets.csv",encoding='utf8')

b) Visualizacion de datos

In [21]:
JJ

            ID  ... Medal
0            1  ...   NaN
1            2  ...   NaN
2            3  ...   NaN
3            4  ...  Gold
4            5  ...   NaN
...        ...  ...   ...
271111  135569  ...   NaN
271112  135570  ...   NaN
271113  135570  ...   NaN
271114  135571  ...   NaN
271115  135571  ...   NaN

[271116 rows x 15 columns]

Continuaremos con revisar la cantidad de filas y columnas de la base

In [22]:
JJ.shape  #Nos regresará la cantidad de filas y columnas

(271116, 15)

Procederemos a cambiar los titulos a español para mejor entendimiento

In [23]:
JJ.columns
JJ. columns=["ID","Nombre","Sexo","Edad","Estatura","Peso","Equipo","Abreviacion","Juegos","Año","Temporada","Ciudad","Deporte","Evento","Medalla"]
JJ.columns

Index(['ID', 'Nombre', 'Sexo', 'Edad', 'Estatura', 'Peso', 'Equipo',
       'Abreviacion', 'Juegos', 'Año', 'Temporada', 'Ciudad', 'Deporte',
       'Evento', 'Medalla'],
      dtype='object')

In [24]:
JJ

            ID  ... Medalla
0            1  ...     NaN
1            2  ...     NaN
2            3  ...     NaN
3            4  ...    Gold
4            5  ...     NaN
...        ...  ...     ...
271111  135569  ...     NaN
271112  135570  ...     NaN
271113  135570  ...     NaN
271114  135571  ...     NaN
271115  135571  ...     NaN

[271116 rows x 15 columns]

Posteriormente a cmabir los nombres, seguiremos a analizar el tipo de dato que tenemos apoyandonos de la funcion dtype

In [25]:
JJ.dtypes

ID               int64
Nombre          object
Sexo            object
Edad           float64
Estatura       float64
Peso           float64
Equipo          object
Abreviacion     object
Juegos          object
Año              int64
Temporada       object
Ciudad          object
Deporte         object
Evento          object
Medalla         object
dtype: object