<a href="https://colab.research.google.com/github/calebmarentes10/Mineria-de-datos-/blob/main/Ej_Limpieza_Equipo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Equipo 2

Grupo: 001 Lunes de 7:00 – 10:00

Integrantes:

Matricula: 1851976 Nombre: Marentes Camarillo Caleb

Matricula: 1851600 Nombre: Garnica Cardenas Maria Fernanda

Matricula: 1941526 Nombre: Morales Garcia Ismael

Matricula: 1726507 Nombre: Vidal Barriga Dayanne Alejandra

Matricula: 1797297 Nombre: Garcia Partida Yael Alejandro

1.Titulo de la base de datos.

a)Nombre con que se encuentra la pagina encontrada:Clasificación de plantas

b)URL de la página: https://www.kaggle.com/uciml/iris

2.Se realizan las diferentes tecnicas de limpieza:

     a)Importar librerias y base de datos :

In [12]:
import pandas as pd
import numpy as np
import json

bdplantas = pd.read_csv("Iris.csv",encoding='utf8')

En esta parte importamos las librerias y la base de datos con la funcion pd.read_csv.

          
          b)Visualizar datos:

In [16]:
bdplantas

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [17]:
bdplantas.shape

(150, 6)

En esta parte sollo leimos la base de datos que importamos en el paso anterior y contamos la cantidad de filas y columnas de la base de datos.

In [19]:

bdplantas.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

Aqui lo que hicimos con la funcion .head es ver los primeros 10 elementos de cada columna.

In [20]:
bdplantas.tail(10)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
140  141            6.7  ...           2.4  Iris-virginica
141  142            6.9  ...           2.3  Iris-virginica
142  143            5.8  ...           1.9  Iris-virginica
143  144            6.8  ...           2.3  Iris-virginica
144  145            6.7  ...           2.5  Iris-virginica
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[10 rows x 6 columns]


Aqui lo que hicimos con la funcion .tail  es ver los ultimos 10 elementos de cada columna

        c)Descripción básica de columnas:

In [21]:
bdplantas.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

Aqui podemos observar el nombre de nuestras columnas.

In [24]:
bdplantas.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

Aqui podemos observar con la función dtype el tipo de dato que tenemos.

In [26]:
bdplantas.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Aqui podemos observar los valores nulos de cada columna.
          
           d)Hacer ejmplo de clasificación de datos para que  
           elijan acomodar los datos para que se facilite esta tarea:

In [32]:
print(bdplantas.SepalLengthCm.unique())

bdplantas=bdplantas.reindex(columns=['Id','SepalLengthCm','Species'])
bdplantas

[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]

      Id  SepalLengthCm         Species
0      1            5.1     Iris-setosa
1      2            4.9     Iris-setosa
2      3            4.7     Iris-setosa
3      4            4.6     Iris-setosa
4      5            5.0     Iris-setosa
..   ...            ...             ...
145  146            6.7  Iris-virginica
146  147            6.3  Iris-virginica
147  148            6.5  Iris-virginica
148  149            6.2  Iris-virginica
149  150            5.9  Iris-virginica

[150 rows x 3 columns]

Lo que hicimos es buscar valores de la culumna sepallengthcm e imprimirlos con la especie de iris ya que njestro objetivo es identificar las alturas de las Iris.

        e)Cambiar nombres de las columnas

In [40]:
bdplantas.rename(columns={'Id':'Ident','SepalLengthCm':'LongSepal','SepalWidthCm':'Anchsepal','PetalLengthCm':'Longpetal','PetalWidthCm ':'Anchpetal', 'Species': 'Especies'})

     Ident  LongSepal        Especies
0        1        5.1     Iris-setosa
1        2        4.9     Iris-setosa
2        3        4.7     Iris-setosa
3        4        4.6     Iris-setosa
4        5        5.0     Iris-setosa
..     ...        ...             ...
145    146        6.7  Iris-virginica
146    147        6.3  Iris-virginica
147    148        6.5  Iris-virginica
148    149        6.2  Iris-virginica
149    150        5.9  Iris-virginica

[150 rows x 3 columns]

Aqui cambiamos los nombres de las columnas.

     f)Guardar en agrupaciones

In [46]:
bdplantas.to_csv("Base de plaantas.csv")