<a href="https://colab.research.google.com/github/calebmarentes10/Mineria-de-datos-/blob/main/Ej_Python_1851976.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programa 1

In [5]:
print("Hola mundo!! ")

Hola mundo!!

Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [18]:
matri=int( input('Escriba su matrícula: ') )
nomb=str( input('Escriba su nombre: ') )

print('{}_{}'.format(matri,nomb))

Escriba su matrícula: 1851976
Escriba su nombre: Caleb Marentes Camarillo
1851976_Caleb Marentes Camarillo


Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Utilizando el loop de while:

In [22]:
numero1=int( input('Escriba el primer numero: ') )
numero2=int( input('Escriba el segundo numero: ') )

ope=str( input('\n¿Que operación realizara?\n Las operaciones   son suma(+), resta(-), multiplicación(*), división(/) y potencia(^): ') )
while ope!='+' and ope!='-' and ope!='*' and ope!='/' and ope!='^':
    print('\nERROR!!!\n Escriba un simbolo disponible')
    ope=str( input('\n¿Que operación realizara?\nLas operaciones son suma(+), resta(-), multiplicación(*), división(/) y potencia(^): ') )
    
if ope=='+':
    resul=numero1+numero2
elif ope=='-':
    resul=numero1-numero2
elif ope=='*':
    resul=numero1*numero2
elif ope=='/':
    resul=numero1/numero2
elif ope=='^':
    resul=numero1**numero2

print('{} {} {} = {}'.format(numero1,ope,numero2,resul))

Escriba el primer numero: 1
Escriba el segundo numero: 9

¿Que operación realizara?
 Las operaciones   son suma(+), resta(-), multiplicación(*), división(/) y potencia(^): &

ERROR!!!
 Escriba un simbolo disponible

¿Que operación realizara?
Las operaciones son suma(+), resta(-), multiplicación(*), división(/) y potencia(^): +
1 + 9 = 10

Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [23]:
mulde3=[3]
for i in range(1,10):
    mulde3.insert(i, mulde3[i-1]+3)
print(mulde3)

sum=0
for i in range(len(mulde3)):
    sum+=mulde3[i]

print('Suma : {}'.format(sum))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Suma : 165


Ejercicio 4:
Con una función de if else, revisar si un número es par o es impar.

Con una función de if else, revisar si un número es primo o no.

In [25]:
numero=int(input('Ingrese un numero : '))
res=numero%2
if res==0:
    print('El numero {} es par'.format(numero))
elif res!=0:
    print('El numero {} es impar'.format(numero))

n=2
band='Verdadero'
while band=='Verdadero' and n<numero:
    if numero%n==0:
        band='Falso'
    else:
        n+=1
if band=='Verdadero':
    print('El numero {} es primo'.format(numero))
elif band=='Falso':
    print('El numero {} no es primo'.format(numero))

Ingrese un numero : 10
El numero 10 es par
El numero 10 no es primo

Ejercicio 5:
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Ejercicios con estructuras básicas de python.

Tuplas:

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

Añadir 3 valores de string a la tupla.

Verificar si una variable existe dentro de la tupla.

In [35]:
varflotante=1.5
varinteger=1
varboleana=False
varcompleja=1j

print('La variable flotante es del tipo: {}'.format(type(varflotante)))
print('La variable integer es del tipo: {}'.format(type(varinteger)))
print('La variable boleana es del tipo: {}'.format(type(varboleana)))
print('La variable compleja es del tipo: {}'.format(type(varcompleja)))

La variable flotante es del tipo: <class 'float'>
La variable integer es del tipo: <class 'int'>
La variable boleana es del tipo: <class 'bool'>
La variable compleja es del tipo: <class 'complex'>

In [37]:

tuple=(5,3,4,24,20,22,56,34,9,19,34,11,10)
print('El primer valor  es {} y el ultimo es {}'.format(tuple[0],tuple[-1]))

El primer valor  es 5 y el ultimo es 10

In [39]:
newvar=tuple.__add__((300,200,900))
newvar

(5, 3, 4, 24, 20, 22, 56, 34, 9, 19, 34, 11, 10, 300, 200, 900)

In [43]:
buscar=int(input('Que numero busca: '))

aux=buscar in tuple
if aux==True:
    print('El elemento si se encuentra'.format(buscar))
else:
    print('El elemento no se encuentra '.format(buscar))

Que numero busca: 5
El elemento si se encuentra

Listas:

Crear una lista con 40 elementos aleatorios enteros.

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos

In [49]:
from random import sample

In [53]:
random=sample(range(0,100),40)
print(random)

[91, 12, 14, 1, 56, 64, 45, 92, 62, 10, 49, 41, 86, 74, 76, 20, 23, 66, 67, 98, 88, 17, 19, 3, 47, 40, 43, 95, 65, 93, 18, 34, 54, 72, 61, 85, 27, 26, 73, 83]

In [56]:
def par_impar(list):
    par=[]
    impar=[]

    for i in range(0,len(list)):
        residuo=random[i]%2
        if residuo==0:
            par.insert(i,random[i])
        else:
            impar.insert(i,random[i])
    
    return par,impar

In [61]:
a,b=par_impar(random)
print(a)

print(b)

[12, 14, 56, 64, 92, 62, 10, 86, 74, 76, 20, 66, 98, 88, 40, 18, 34, 54, 72, 26]
[91, 1, 45, 49, 41, 23, 67, 17, 19, 3, 47, 43, 95, 65, 93, 61, 85, 27, 73, 83]

In [62]:

len1=len(a)
len2=len(b)
print('La longitud de la lista 1 es: {}'.format(len1))
print('La longitud de la lista 2  es: {}'.format(len2))

La longitud de la lista 1 es: 20
La longitud de la lista 2  es: 20

In [63]:
print(sorted(a,reverse=True))
print(sorted(b))

[98, 92, 88, 86, 76, 74, 72, 66, 64, 62, 56, 54, 40, 34, 26, 20, 18, 14, 12, 10]
[1, 3, 17, 19, 23, 27, 41, 43, 45, 47, 49, 61, 65, 67, 73, 83, 85, 91, 93, 95]

Diccionarios:

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

Usando el diccionario y un loop, imprimir solo los nombres.

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [69]:
diccionario = {'Nombre de la persona': ['Arantza','Eliud','Maria','Manuel','Cesar','Imanol'],
      'Edad de las personas': [19,20,56,57,25,21]}
diccionario

{'Edad de las personas': [19, 20, 56, 57, 25, 21],
 'Nombre de la persona': ['Arantza',
  'Eliud',
  'Maria',
  'Manuel',
  'Cesar',
  'Imanol']}

In [70]:
listaedad=diccionario['Edad de las personas']
print(sorted(listaedad))

[19, 20, 21, 25, 56, 57]

In [71]:
listanom=diccionario['Nombre de la persona']
for i in range(0,len(listanom)):
    print('{}'.format(listanom[i]))

Arantza
Eliud
Maria
Manuel
Cesar
Imanol

In [75]:
X=0
while X==0:
    nuevonom=str(input('Ingrese un nuevo e nombre : '))
    diccionario['Nombre de la persona'].insert(len(diccionario['Nombre de la persona']),nuevonom)
    nuevaedad=int(input('Ingrese la edad : '))
    diccionario['Edad de las personas'].insert(len(diccionario['Edad de las personas']),nuevaedad)
    X=int(input('Si desea agregar otro nombre pulse 0.Siu no pulse 1: '))

Ingrese un nuevo e nombre : Paulina
Ingrese la edad : 20
Si desea agregar otro nombre pulse 0.Siu no pulse 1: 0
Ingrese un nuevo e nombre : Elsa
Ingrese la edad : 75
Si desea agregar otro nombre pulse 0.Siu no pulse 1: 1

In [76]:
print(diccionario['Nombre de la persona'])
print(diccionario['Edad de las personas'])

['Arantza', 'Eliud', 'Maria', 'Manuel', 'Cesar', 'Imanol', 'Paulina', 'Paulina', 'Paulina', 'Paulina ', 'Elsa']
[19, 20, 56, 57, 25, 21, 20, 20, 75]

Sets:

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

Comprueba la longitud de tu set.

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [84]:
import random

In [87]:
primerset=set()
for i in range(100):
    primerset.add(random.randint(1,25))
    
primerset

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

In [88]:
print(type(primerset))

<class 'set'>

In [89]:
print('La longitud es de: {}'.format(len(primerset)))

La longitud es de: 25

In [92]:
listrandom=list()
for i in range(5):
    listrandom.insert(i,random.randint(1,10))
    
listrandom

[4, 6, 7, 5, 4]

In [98]:
for i in range(0,len(listrandom)):
    val=listrandom[i] in primerset
    if val==True:
        print('El numero {} Si se encuentra'.format(listrandom[i]))
    else:
        print(' El numero {} No se encuentra en el set inicial'.format(listrandom[i]))

El numero 4 Si se encuentra
El numero 6 Si se encuentra
El numero 7 Si se encuentra
El numero 5 Si se encuentra
El numero 4 Si se encuentra